<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participantes</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>

<body>
    <header class="container">
        <article>
            <h1>Participantes</h1>
        </article>
    </header>

    <main class="container">
        <article id="participant-list">
            {{#participantes}}
            <a href="/participante/{{cpf}}" class="participant-item">{{nome}}</a>
            {{/participantes}}
        </article>
    </main>
</body>

</html>